* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  padding: 30px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon {
  font-weight: 700;
  color: #18c9de;
  font-size: 20px;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navbar-link {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  margin-left: 30px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .2s;
  transition: .2s;
}

.header__navbar-link:after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #18c9de;
  color: #18c9de;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
}

.header__navbar-link:hover, .header__navbar-link.active {
  color: #18c9de;
}

.header__navbar-link:hover:after, .header__navbar-link.active:after {
  width: 100%;
}

.intro {
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 120px;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__content {
  position: relative;
  padding: 100px 50px;
  text-align: center;
}

.intro__content span {
  color: #18c9de;
  font-weight: 700;
}

.about {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #f5f5f5;
}

.about__header {
  font-size: 30px;
  font-weight: 700;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__text {
  padding-top: 10px;
  width: 500px;
  font-size: 18px;
}

.skills {
  padding-top: 70px;
  padding-bottom: 80px;
  background-color: #fff;
}

.skills__header {
  text-align: center;
}

.skills__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__row {
  width: 45%;
}

.skills__progress-bar-line {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 30px;
}

.skills__progress-done {
  background: -webkit-gradient(linear, right top, left top, from(#18c9de), to(#48d1cc));
  background: linear-gradient(to left, #18c9de, #48d1cc);
  -webkit-box-shadow: 0 3px 3px -5px #18c9de, 0 2px 5px #18c9de;
          box-shadow: 0 3px 3px -5px #18c9de, 0 2px 5px #18c9de;
  border-radius: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  -webkit-transition: 1s ease 0.3s;
  transition: 1s ease 0.3s;
}

.skills__info {
  padding-top: 50px;
}

.skills__list {
  list-style: none;
}

.skills__list li {
  position: relative;
  padding: 20px 0 20px 40px;
  font-variant: small-caps;
}

.skills__list li:before {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  content: "";
  left: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  top: 27px;
}

.skills__list li:after {
  position: absolute;
  border-left: 1px dotted #000;
  width: 1px;
  bottom: -12px;
  content: "";
  left: 3px;
  top: 48px;
}

.skills__list li:last-child:after {
  content: none;
}

.footer {
  padding-top: 70px;
  padding-bottom: 50px;
  font-size: 22px;
  position: relative;
}

.footer__contacts {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  opacity: .7;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social a {
  margin-left: 20px;
  opacity: .5;
}

.footer__social a:hover {
  opacity: 1;
}

.footer__button {
  position: absolute;
  left: 50%;
  top: -20px;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  background-color: #18c9de;
  padding: 5px 20px;
  border: 2px solid #18c9de;
  border-radius: 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer__button:hover {
  background-color: #fff;
  color: #18c9de;
  border-color: #18c9de;
}
/*# sourceMappingURL=style.css.map */