$blue: #18c9de;
$black: #000;
$white: #fff;
$dark-white: #f5f5f5;

.footer {
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 22px;

    &__contacts{
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        opacity: .7;
    }

    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & a {
            margin-left: 10px;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }
    }
}